.whatWeDo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 48px;
}

.whatWeDo_list {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: self-start;
    padding: 20px;
    border: 1px solid var(--yellow-2);
    border-radius: 10px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    gap: 12px;
}

.whatWeDo_list i{
    color: var(--yellow-3);
    font-size: 1.5rem;
}

.whatWeDo_list i span {
    color: var(--black-2);
    font-weight: 600;
}

.whatWeDo_txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 70%;
    gap: 16px;
}

.whatWeDo_txt h2 {
    font-size: 3rem;
}

.whatWeDo_txt h2 span {
    text-transform: uppercase;
    background-color: var(--yellow-2);
}

.whatWeDo_txt p {
    font-size: 1.5rem;
}

@media screen and (max-width: 1170px) {
    .contentAbout {
        margin-top: 100px;
    }
    .whatWeDo {

        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }

    .whatWeDo_list {
        text-align: start;
        width: 100%;
        justify-content: center;
        align-items: start ;
    }

    .whatWeDo_list_txt {
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .whatWeDo_txt p{
        text-align: center;
        align-self: center;
        font-size: 1.2rem;
    }
}

