@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-gray);
}

.contentLogin {
    background-color:var(--white) ;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.contentLogin::before {
    content: "";
    position: absolute;
    background-color: var(--yellow-2);
    width: 40%;
    height: 100%;
}

.titleLogin {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: var(--white);
}

.title-second {
    color: var(--yellow-2);
}

.descripitionLogin {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.descripition-primary {
    color: var(--white);
}

.descripition-second {
    color: var( --light-blue);
}

.btnLogin {
    border-radius: 15px;
    text-transform: uppercase;
    color: var(--white);
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid var(--white);
}

.btn-primary:hover {
    background-color: var(--white);
    color: var(--yellow-2);
}

.btn-second {
    background-color: var(--yellow-2);
    border: 1px solid var(--yellow-2);
}

.btn-second:hover {
    background-color: var(--white);
    border: 1px solid var(--yellow-2);
    color: var(--yellow-2);
}

.first-content {
    display: flex;
}

.first-column {
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.second-column {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media a {
    color: var( --light-blue);
}

.item-social-media {
    border: 1px solid var( --light-blue);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.formLogin {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.formLogin input {
    width: 100%;
    height: 45px;
    border: none;
    color: var(--light-gray);
    background-color: var(--light-gray);
}

.Labellogin-input {
    display: flex;
    align-items: center;
    background-color: var(--light-gray);
    margin: 8px;
}

.icon-modify {
    color: var( --light-blue);
    padding: 0 5px;
}

.second-content {
    position: absolute;
    display: none;
}