@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.contentLogin {
    background-color:#fff ;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.contentLogin::before {
    content: "";
    position: absolute;
    background-color: #ffcb45;
    width: 40%;
    height: 100%;
}

.title {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #ffcb45;
}

.descripition {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.descripition-primary {
    color: #fff;
}

.descripition-second {
    color: #7f8c8c;
}

.btnLogin {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-primary:hover {
    background-color: #fff;
    color: #ffcb45;
}

.btn-second {
    background-color: #ffcb45;
    border: 1px solid #ffcb45;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #ffcb45;
    color: #ffcb45;
}

.first-content {
    display: flex;
}

.first-column {
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.second-column {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media a {
    color: #95a5a6;
}

.item-social-media {
    border: 1px solid #95a5a6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.formLogin {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.formLogin input {
    height: 45px;
    border: none;
    color: #ecf0f1;
    margin: 8px;
}

.second-content {
    position: absolute;
    display: none;
}