@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("home.css");
@import url("footer.css");
@import url("products.css");
@import url("header.css");
@import url("login.css");
@import url("about.css");
@import url("bid.css");
@import url("contact.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white: #ffffff;
    --bg: #fff9ea;
    --black-2: #1d1d1d;
    --black-1: #1d1d1dad;
    --gray-0: #333;
    --yellow-3: #e9a209;
    --yellow-2: #ffcb45;
    --yellow-1: #f8d477;
    --yellow-0: #ffe8b4;
}

body {
    background-color: var(--bg);
}

section {
    padding: 28px 8%;
}

.cta-reveal, .banner-reveal, .whatWeDo_txt-title-reveal, .whatWeDo_list-reveal, .bid-card-title-reveal, .card, .finderContact-title-reveal, .contactSocial form div, .finderLogo-reveal, .categoriesBtn, .section-title, .container-form {
    visibility: hidden;
}

.contentAbout section{
    margin: 8%; 
}

.btnDefault {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow-2);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btnDefault:hover {
    background-color: var(--yellow-1);
}

.social_buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    font-size: 1.25rem;
    color: var(--black-2);
    background-color: var(--white);
    text-decoration: none;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social_buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1170px) {
    .contentAbout section {
        margin: 4% 0;
    }
}

@keyframes upAndDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Subir levemente */
    }
    100% {
      transform: translateY(0); /* Voltar à posição original */
    }
  }
  
  .img-up-down {
    animation: upAndDown 2s ease-in-out infinite; /* Animação contínua */
  }

